<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="OrionGroup">
			<section name="database" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="pagePath" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="utilities" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="language" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="chronos" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="alnitak" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="mintaka" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="roles" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="sectionResourceTypes" type="Alnitak.OrionSectionHandler,Alnitak" />
			<section name="pub" type="Alnitak.OrionSectionHandler,Alnitak" />
		</sectionGroup>
		<section name="yafnet" type="yaf.SectionHandler,Alnitak" />
	</configSections>
	<appSettings>
		<add key="DisplaySpacesInWikiLinks" value="True" />
	</appSettings>
	<OrionGroup>
		<database>
			<add key="connectionString" value="server=.;uid=orionsbelt;pwd=spoon;database=orionsbelt" />
			<add key="connectionStringPG" value="server=localhost;User ID=orion;password=spoon;Database=orionsbelt" />
			<add key="connectiostring-mysql" value="Server=localhost;User ID=mintaka;Password=spoon;Database=orionsbelt" />
		</database>
		<pagePath>
			<add key="basePage" value="default.aspx" />
			<add key="globalError" value="globalError.aspx" />
		</pagePath>
		<utilities>
			<add key="sectionUtility-sqlServer" value="Alnitak.SqlServerSectionUtility" />
			<add key="sectionUtility-mySql" value="Alnitak.MySqlSectionUtility" />
			<add key="sectionUtility-postgre" value="Alnitak.PostGreSectionUtility" />
			
			<add key="namedPageUtility-sqlServer" value="Alnitak.SqlServerNamedPageUtility" />
			<add key="namedPageUtility-mySql" value="Alnitak.MySqlNamedPageUtility" />
			<add key="namedPageUtility-postgre" value="Alnitak.PostGreNamedPageUtility" />
			
			<add key="masterSkinUtility-sqlServer" value="Alnitak.SqlServerMasterSkinUtility" />
			<add key="masterSkinUtility-mySql" value="Alnitak.MySqlMasterSkinUtility" />
			<add key="masterSkinUtility-postgre" value="Alnitak.PostGreMasterSkinUtility" />
			
			<add key="userUtility-sqlServer" value="Alnitak.SqlServerUserUtility" />
			<add key="userUtility-mySql" value="Alnitak.MySqlUserUtility" />
			<add key="userUtility-postgre" value="Alnitak.PostGreUserUtility" />
			
			<add key="exceptionLog-sqlServer" value="Alnitak.SqlServerExceptionLogUtility" />
			<add key="exceptionLog-mySql" value="Alnitak.MySqlExceptionLogUtility" />
			<add key="exceptionLog-postgre" value="Alnitak.PostGreExceptionLogUtility" />
			
			<add key="newsUtility-sqlServer" value="Alnitak.SqlServerNewsUtility" />
			<add key="newsUtility-mySql" value="Alnitak.MySqlNewsUtility" />
			<add key="newsUtility-postgre" value="Alnitak.PostGreNewsUtility" />
			
			<add key="scanUtility-sqlServer" value="Alnitak.SqlServerScanUtility" />
			<add key="scanUtility-mySql" value="Alnitak.MySqlScanUtility" />
			<add key="scanUtility-postgre" value="Alnitak.PostGreScanUtility" />

			<add key="allianceUtility-sqlServer" value="Alnitak.SqlServerAllianceUtility" />
			<add key="allianceUtility-mySql" value="Alnitak.MySqlAllianceUtility" />
			<add key="allianceUtility-postgre" value="Alnitak.PostGreAllianceUtility" />
		</utilities>
		<language>
			<add key="default-locale" value="pt" />
			<add key="default-lang-dir" value="engine/Language" />
		</language>
		<chronos>
			<add key="confDir" value="configuration" />
			<add key="turnTime" value="10000" />
		</chronos>
		<mintaka>
			<add key="entity" value="1" />
		</mintaka>
		<alnitak>
			<add key="traceTurn" value="false" />
			<add key="adminMail" value="comercial@zi-yu.com,donbonifacio@gmail.com,nunos@zi-yu.com" />
			<add key="newsMailingListMail" value="orionsbelt@googlegroups.com" />
			<add key="orionMail" value="comercial@zi-yu.com" />
			<add key="orionSender" value="Orion Mailer" />
			<add key="url" value="" />
			<add key="imagesFile" value="orionImages.zip" />
			<add key="imagesSrc" value="/alnitak/" />
			<add key="userCount" value="100" />	
			<add key="shipsCount" value="8" />
			<add key="friendlyLimit" value="8" />
		</alnitak>
		<roles>
			<add key="admin" value="1" />
			<add key="betaTester" value="2,19" />
		</roles>
		<sectionResourceTypes>
			<add key="Buildings" value="Building" />
			<add key="Army" value="Soldier" />
			<add key="Mechs" value="Mech" />
			<add key="Fleet" value="Unit" />
		</sectionResourceTypes>
		<pub>
			<add key="GSMBit" value="http://www.gsmbit.com/banners/orionsbelt_120x240.swf" />
			<add key="Intro" value="http://orionsbelt.sf.net/skins/commonImages/flash/intro.swf" />
		</pub>
	</OrionGroup>
	
	<yafnet>
		<connstr>user id=orionsbelt;pwd=spoon;data source=(local);initial catalog=orionsbelt;timeout=90</connstr>
		<uploaddir>upload/</uploaddir>
		<boardid>1</boardid>
	</yafnet>

	<system.web>
		<httpModules>
			<add name="OrionModule" type="Alnitak.OrionModule,Alnitak" />
			<add name="CultureModule" type="Alnitak.CultureModule, Alnitak" />
		</httpModules>

		<compilation defaultLanguage="c#" debug="true" />

		<customErrors mode="Off" />

		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" />
		</authentication>

		<authorization>
			<allow users="*" />
		</authorization>

		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />

	<!--	<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />-->

		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
