
insert into yaf_Board(name,allowthreaded) values('Orions Belt',0)

insert into yaf_AccessMask values(1,'Admin Access Mask',1023)
insert into yaf_AccessMask values(1,'Moderator Access Mask',487)
insert into yaf_AccessMask values(1,'Member Access Mask',423)

insert into yaf_Group values(1,'Administration',1)
insert into yaf_Group values(1,'Guest',2)
insert into yaf_Group values(1,'Member',4)

insert into yaf_Rank(BoardID,Name,Flags)values(1,'Administration',0)
insert into yaf_Rank(BoardID,Name,Flags)values(1,'Guest',0)
insert into yaf_Rank(BoardID,Name,MinPosts,Flags)values(1,'Insignificant',0,3)


insert into yaf_Registry (Name,[Value])values('version',17)
insert into yaf_Registry(Name,[Value])values('versionname','1.0.0 RC2')
insert into yaf_Registry(Name,[Value])values('timezone',0)


insert into yaf_UserGroup(UserID,GroupID) values(1,1)
insert into yaf_UserGroup(UserID,GroupID) values(2,1)
insert into yaf_UserGroup(UserID,GroupID) values(3,3)









create procedure yaf_forum_listread(@BoardID int,@UserID int,@CategoryID int=null,@ParentID int=null) as
begin
select
a.CategoryID,
Category  = a.Name,
ForumID   = b.ForumID,
Forum   = b.Name,
Description,
Topics   = Customer2163.yaf_forum_topics(b.ForumID),
Posts   = Customer2163.yaf_forum_posts(b.ForumID),
LastPosted  = b.LastPosted,
LastMessageID = b.LastMessageID,
LastUserID  = b.LastUserID,
LastUser  = IsNull(b.LastUserName,(select user_nick from orionsbelt_users x where x.user_id=b.LastUserID)),
LastTopicID  = b.LastTopicID,
LastTopicName = (select x.Topic from yaf_Topic x where x.TopicID=b.LastTopicID),
b.Flags,
Viewing   = (select count(1) from yaf_Active x where x.ForumID=b.ForumID),
b.RemoteURL,
x.ReadAccess
from
yaf_Category a
join yaf_Forum b on b.CategoryID=a.CategoryID
join yaf_vaccess x on x.ForumID=b.ForumID
where
a.BoardID = @BoardID and
((b.Flags & 2)=0 or x.ReadAccess<>0) and
(@CategoryID is null or a.CategoryID=@CategoryID) and
((@ParentID is null and b.ParentID is null) or b.ParentID=@ParentID) and
x.UserID = @UserID
order by
a.SortOrder,
b.SortOrder
end
